body{
  background-color:#e9cef4;
  color:#8a2b3f;
}
#playing-cards{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  margin:100px auto;
}

.card{
  display:flex;
  justify-content:space-between;
  width:200px;
  height:300px;
  border:2px solid #fefefe;
  border-radius:10px;
  box-shadow: 5px 5px 20px #9560aa;
  background-color:#ffffff63;
}

.left{
  align-self:flex-start;
}

.middle{
  display:flex;
  align-self:center;
  flex-direction:column;
  font-size:5rem;
}

.right{
  align-self:flex-end;
}

.left-number,.right-number, .left-symbol, .right-symbol{
  font-size:2rem;
}

.left-number{
  margin:10px 10px 0 10px;
}

.right-number{
  margin:0 10px 10px 10px;
}

.left-symbol{
  margin:0 10px;
}

.right-symbol{
  margin:0 10px;
}

.middle-card{
  color:#4273a1;
}